[project]
	description = Swim programmer for STM8 based on STM32f103
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dimitarm1
[access "refs/for/refs/*"]
	read = group user/dimitarm1
	push = group user/dimitarm1
	label-Code-Review = -2..+2 group user/dimitarm1
	label-Verified = -1..+1 group user/dimitarm1
	rebase = group user/dimitarm1
	removeReviewer = group user/dimitarm1
	submit = group user/dimitarm1
[access "refs/heads/*"]
	read = group user/dimitarm1
	create = group user/dimitarm1
	push = +force group user/dimitarm1
	pushMerge = group user/dimitarm1
[access "refs/tags/*"]
	push = group user/dimitarm1
	push = +force group user/dimitarm1
